<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calorie2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaves"
        android:label="Healthify360"
        android:roundIcon="@drawable/leaves"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calorie2">
        <activity
            android:name=".Results"
            android:label="Results"
            android:theme="@style/Theme.Calorie2.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/Theme.Calorie2.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:label="MainActivity2"
            android:theme="@style/Theme.Calorie2.NoActionBar" />
        <activity android:name=".HomeSc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>